/* =============================================================================
   Feuille de style pour l'intranet
   chargee apres style.css (reset boilerplate) et 960.css
   Daniel Kerboeuf, décembre 2011
   ========================================================================== */

html {
    background-color: #8ab712;
    background-image: url("../img/page_bkg_green.png");
    background-position: left top;
    background-repeat: repeat-x;
}

#container {
    background-color: #fff;
    min-height: 400px;
}

#header {
}

#content {
    min-height: 400px;
    margin: 10px;
}
#focus {
    margin: 10px;
}
/* =============================================================================
   Styles communs des éléments de navigation
   ========================================================================== */
ul.nav {
    list-style-type: none;
    list-style-image: none;
    display: block;
    margin: 0; padding: 0;
}

ul.nav li a {
	text-decoration: none;
}

/* =============================================================================
   Barre de navigation
   ========================================================================== */
#navbar {
	margin: 0;
	width:100%;
	background-color: #000;
    font-size: 11px;
	color: #fff;
}
#navbar ul.nav {
    padding: 10px 0;
}
#navbar ul.nav li {
    float: left;
}
#navbar ul.nav li a {
    font-weight: bold;
    color: #fff;
    padding:0 10px;
}

/* =============================================================================
   menu de droite
   ========================================================================== */
#menu {
	margin: 10px;
	background-color: #eee;
    font-size: 11px;
    line-height:1.5em;
}
#menu h2 {
	font-variant:small-caps;
	margin: 10px;
	padding: 10px;
	background-color: #F27B31;
}
#menu>ul {
	border-top: thin solid #fff;
}
#menu ul.nav li {
	border-bottom: thin solid #fff;
}
#menu ul ul {
	padding-left:10px;
	background-color: #fff;
}
#menu ul.nav ul li {
	border-bottom: thin dotted #000;
}
#menu ul.nav li a {
	color: #000;
    padding:0 10px;
}

/* =============================================================================
   Fil d'Arianne
   ========================================================================== */
#breadcrumb {
	font-size: 11px;
}
#breadcrumb ul.nav li {
    float: left;
}
/* =============================================================================
   Pied de page
   ========================================================================== */
#footer {
	background-color: #ccc;
	margin: 0;
	width:100%;
    height: 50px;
}
