/* =============================================================================
   Feuille de style pour l'intranet
   chargee apres style.css (reset boilerplate) et 960.css
   Daniel Kerboeuf, décembre 2011
   ========================================================================== */

html {
    background-color: #8ab712;
    background-image: url("../img/page_bkg_green.png");
    background-position: left top;
    background-repeat: repeat-x;
}

#container {
    background: none repeat scroll 0 0 #FFFFFF;
}
#header {
}
#navbar {
		width: 100%;
		margin:0; padding:0;
}
ul.nav {
    background: none repeat scroll 0 0 #666666;
    height: 2.5em;
    max-width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
ul.nav li {
    position: relative;
    left: 0;
    top: 0;
    background: none repeat scroll 0 0 #CCCCCC !important;
    cursor: pointer;
    float: left;
    font-weight: normal;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
ul.nav li a {
    background: none repeat scroll 0 0 #666666;
    border: 0 none;
    color: #FFFFFF;
    height: 2.5em;
    line-height: 2.5em;
    display: block;
    float: left;
    font-weight: bold;
    height: 2.4em;
    line-height: 2.5em;
    padding: 0 1em;
    text-decoration: none;
}