/* feuille de style de la page d'accueil */

/* propriétés communes des menus */
.content h2 {
	font-family: "Trebuchet MS";
	color: #fff;
	font-size: 0.9em;
	font-weight: bold;
	background: #00A0C6;
	margin: 0;
}
.content ul {
 	list-style: none;
 	padding: 0; margin: 0;
}
.content ul li  {
	color: #000;
	font-size: 0.8em;
	line-height: 1.5em;
	border-bottom: 2px solid white;
}

/* menu de la colone de gauche : rubriques principales */
.content #menu { 
padding: 10px 20px 10px 10px
}
.content #menu h2   {
	margin-top:1em ;
	padding: 0 0 0 9px;
	background-color: #005992;
	font-family: "Trebuchet MS";
}

.content #menu h2.R1 {} /* Styles différents possible pour les titres de rubriques... */
.content #menu h2.R2 { text-align: right; background-image: url("../img/home_R2.png"); background-repeat: no-repeat; background-position: left top ; padding-right: 10px }
.content #menu h2.R3 { background-image: url("../img/home_R3.png"); background-repeat: no-repeat; background-position: right top }

.content #menu h2 a { color:#FFFFFF;}

.content #menu ul li a   {
	background: #f7f7fe url("../img/bullet_blue.png") no-repeat left center;
	text-align: left;
	padding-left: 20px;
	display: block;
}
.content #menu ul li a:hover,
.content #menu ul li a:focus,
.content #menu ul li a:active  { background: #fefefe url("../img/bullet_orange.png") no-repeat left center }

/* Barre d'outils de la page d'accuel */
.content #toolbar ul  { padding: 0 30px }
.content #toolbar ul li#plan a    { color: #666; font-size: 0.8em; line-height: 2em; background-image: url("../img/map.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: left center; display: block; padding-left: 30px; border-bottom: 1px solid #09c }
.content #toolbar ul li#contacts a    { color: #666; font-size: 0.8em; line-height: 2em; background-image: url("../img/email.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: left center; display: block; padding-left: 30px; border-bottom: 1px solid #09c }
.content #toolbar ul li#annuaire a    { color: #666; font-size: 0.8em; line-height: 2em; background-image: url("../img/telephone.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: left center; display: block; padding-left: 30px; border-bottom: 1px solid #09c }
.content #toolbar ul li#sitemap a    { color: #666; font-size: 0.8em; line-height: 2em; background-image: url("../img/chart_organisation.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: left center; display: block; padding-left: 30px; border-bottom: 1px solid #09c }
.content #toolbar ul li#intranet a    { color: #666; font-size: 0.8em; line-height: 2em; background-image: url("../img/key.png"); background-repeat: no-repeat; background-attachment: scroll; background-position: left center; display: block; padding-left: 30px; border-bottom: 1px solid #09c }

/* Menu profils */
.content #profils  { margin: 0; padding: 30px 20px 10px 10px }
.content #profils h2 { background-color: #92B938; text-align: right; margin: 0; padding-right: 10px ; background-image: url("../img/home_profils.gif"); background-repeat: no-repeat; background-attachment: scroll; background-position: left top; display: block; padding-left: 20px;}
.content #profils ul li a    { background: #f7f7fe url("../img/bullet_green.png") no-repeat right center; text-align: right; display: block; padding-right: 20px }
.content #profils ul li a:hover, #direct ul li a:focus, #profils ul li a:active   { background: #fefefe url("../img/bullet_orange.png") no-repeat right center }

/* Menu acces directs */
.content #direct  { margin: 0; padding: 10px 20px 10px 10px }
.content #direct h2 { background-color: #92B938; text-align: right; margin: 0; padding-right: 10px; background-image: url("../img/home_direct.gif"); background-repeat: no-repeat; background-attachment: scroll; background-position: left top; display: block; padding-left: 20px;}
.content #direct ul li a    { background: #f7f7fe url("../img/bullet_purple.png") no-repeat right center; text-align: right; display: block; padding-right: 20px;}
.content #direct ul li a:hover, #direct ul li a:focus, #direct ul li a:active   { background: #fefefe url("../img/bullet_orange.png") no-repeat right center }

/* Menu composantes*/
.content #composantes  { margin: 0; padding: 10px 20px 10px 10px }
.content #composantes h2 { background-color: #92B938; text-align: right; margin: 0; padding-right: 10px; background-image: url("../img/home_composantes.gif"); background-repeat: no-repeat; background-attachment: scroll; background-position: left top; display: block; padding-left: 20px; }
.content #composantes ul li a    { background: #f7f7fe url("../img/bullet_marron.png") no-repeat right center; text-align: right; display: block; padding-right: 20px }
.content #composantes ul li a:hover, #direct ul li a:focus, #composantes ul li a:active   { background: #fefefe url("../img/bullet_orange.png") no-repeat right center; text-align: right }
/* version align�e � gauche */
.content #composantes h2.left { background-position: right top; text-align: left }
.content #composantes ul.left  li a    { background: #f7f7fe url("../img/bullet_marron.png") no-repeat left center; text-align: left; display: block; padding-left: 20px }
.content #composantes ul.left  li a:hover, #composantes ul.left li a:active   { background: #fefefe url("../img/bullet_orange.png") no-repeat left center; text-align: left }

/* Actualités */
.content #actus {
	-height: 1%; /* pour corriger le bug d'affichage avec IE6 (haslayout) */
	background-color: #ffffff; /* #ffffe8 */
	margin: 20px 10px 10px;
	padding: 0
}
.content #actus h2  { background-image: url("../img/home_actu.png"); background-repeat: no-repeat; background-position: left top; padding-left: 10px }
.content #actus h3 { font-family: "Trebuchet MS"; color: #005992; font-size: 0.8em; font-weight: bold; margin: 1em 0 0; padding: 0 0 0 10px; clear: both; border-top: 0 none; border-right: 0 none; border-bottom: 1px solid #8ab713; border-left: 3px solid #8ab713 }
.content #actus img  { margin: 0 10px 10px 0; float: left }
.content #actus p    { font-size: 0.8em; margin: 0}
.content #actus p.vignette    { margin: 0 0 0 100px }

.content .home_article h2.title {
	display: none;	
}

.content .home_article table {
	border-collapse: collapse;
	border-spacing: 0px;	
}

.content .home_article table td {
	padding: 0px;	
}

.content .home_article p {
	margin-bottom: 0px;	
}	

.content #annexe_cg { 
padding: 10px 20px 10px 10px;
}
.content #annexe_cg h1  {
	color: #ffffff;
	margin-top:1em ;
	padding: 0 0 0 9px;
	background-color: #005992;
	font-family: "Trebuchet MS";
	font-size: 0.8em;
}
.content #annexe_cg .title  {
	display:none;
}
.content #annexe_cg ul li a   {
	background: #f7f7fe url("../img/bullet_blue.png") no-repeat left center;
	text-align: left;
	padding-left: 20px;
	display: block;
}
.content #annexe_cg p { 
	font-size: 0.8em;
	line-height: 1em;
}
.content #annexe_cg ul li a:hover,
.content #annexe_cg ul li a:focus,
.content #annexe_cg ul li a:active  { background: #fefefe url("../img/bullet_orange.png") no-repeat left center }
