/* Styles utilisés dans l'éditeur (prefixed by .mceContentBody) et en mode prévisualisation et rendu final (prefixed by .content) */
/* Daniel Kerboeuf, novembre 2011 */

/************************************/
/*		Styles des titres			*/
/************************************/

/* titre principale de la page (titre long s'il existe, sinon titre court) */
h1.title {
	color: #255192;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
}

/* les titres des contenus et services ne sont pas affichés dans la zone centrale*/
.content h2 {
	display:none;
}
/* sous-titres des contenus */
.content h3.subtitle {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 5px;
}

/* titre de premier niveau dans l'éditeur = titre de niveau 3 dans le contenu de la zone centrale de la page */
.mceContentBody h1, .content h3 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold; 
	font-size: 1.12em; 
	color: #007dbd;
	padding-top: 1em;
	margin: 0;
}
.mceContentBody h2, .content h4 {
	font-family: "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold; 
	font-size: 1.091em; 
	color: #007dbd;
	padding-top: 1em;
	margin: 0;
}

.mceContentBody h3, .content h5 {
	font-weight: bold; 
	color: #007dbd;
	padding-top: 1em;
	margin: 0;
}

.mceContentBody h4, .content h6 {
	font-weight: bold; 
	padding-top: 1em;
	margin: 0;
}

/************************************/
/*		Styles de paragraphes		*/
/************************************/
.mceContentBody p, .content p {
	font-family: arial, Verdana, sans-serif;
	font-size: 12px;
	color: #333;
	padding-right: 15px;
}

.mceContentBody p.narrow-spaced,
.content p.narrow-spaced {
	line-height : 110%;
	margin-top : 0;
	margin-bottom : 0;
	font-size: 11px;
}

.mceContentBody p.introduction,
.content p.introduction {
	font-weight : bold;
}

.mceContentBody p.important,
.content p.important {
	border: 1px solid #006FA1;
	letter-spacing: 1px;
	color: #006FA1;
	background-color: #D8EDF8;
	padding: 10px;
}

.mceContentBody p.secondary,
.content p.secondary {
	color : #808080;
	font-style : italic;
	font-size : 11px;
	padding-left:35px;
}

.mceContentBody p.sub-title,
.content p.sub-title {
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 1px;
	font-size: 0.9em;
}

/************************************/
/*			Styles de liens			*/
/************************************/
.mceContentBody a:hover,
.mceContentBody a:link,
.mceContentBody a:visited,
.mceContentBody a:active,
.content a:hover,
.content a:link,
.content a:visited,
.content a:active {
	text-decoration : underline;
	color : #006BB1;
}

.mceContentBody a.invisible,
.mceContentBody a.invisible:hover,
.mceContentBody a.invisible:link,
.mceContentBody a.invisible:visited,
.mceContentBody a.invisible:active
{
	border-bottom: 1px dashed #000000;
}
.mceContentBody a.invisible,
.mceContentBody a.invisible:hover,
.mceContentBody a.invisible:link,
.mceContentBody a.invisible:visited,
.mceContentBody a.invisible:active,
.content a.invisible,
.content a.invisible:hover,
.content a.invisible:link,
.content a.invisible:visited,
.content a.invisible:active
{
	text-decoration: none !important;
	color: #000000 !important;
}

.mceContentBody a.download,
.mceContentBody a.download:hover,
.mceContentBody a.download:link,
.mceContentBody a.download:visited,
.mceContentBody a.download:active,
.content a.download,
.content a.download:hover,
.content a.download:link,
.content a.download:visited,
.content a.download:active
{
	text-decoration : underline;
	color : #006BB1 !important;
	padding-left: 15px;
	background-image: url(../img/download.png);
	background-position: left;
	background-repeat: no-repeat;
}

.mceContentBody a.know-more,
.mceContentBody a.know-more:hover,
.mceContentBody a.know-more:link,
.mceContentBody a.know-more:visited,
.mceContentBody a.know-more:active,
.content a.know-more,
.content a.know-more:hover,
.content a.know-more:link,
.content a.know-more:visited,
.content a.know-more:active
{
	padding: 1px;
	padding-top: 0px;
	padding-right: 16px;
	
	background-image: url(../img/knowmore.png);
	background-position: right;
	background-repeat: no-repeat;
	background-color: #5884df;
	
	color: #ffffff !important;
	text-decoration : underline;
}

.mceContentBody a.external,
.mceContentBody a.external:hover,
.mceContentBody a.external:link,
.mceContentBody a.external:visited,
.mceContentBody a.external:active,
.content a.external,
.content a.external:hover,
.content a.external:link,
.content a.external:visited,
.content a.external:active,
.module-box a.external
{
	color: #006BB1 !important;
	padding-right: 18px;
	background-image: url(../img/external.png);
	background-position: right;
	background-repeat: no-repeat;
	text-decoration : underline;
}

.content a.broken,
.content a.broken:hover,
.content a.broken:link,
.content a.broken:visited,
.content a.broken:active {
	color: #ffffff !important;
	background-color: #ff0000 !important;
}

/************************************/
/*			Listes à puces			*/
/************************************/
.mceContentBody ul,
.mceContentBody ul.disc,
.content ul.disc {
	list-style-type : disc;
	list-style-image : none;	
	font-size: 12px;
	line-height: 15px;
}
.mceContentBody ul.square,
.content ul.square {
	list-style-type : square;
	list-style-image : none;	
}

.mceContentBody ul.arrow,
.content ul.arrow {
	list-style-type: none;
	list-style-image : url(../img/arrow.png);	
}

.mceContentBody ul.check,
.content ul.check {
	list-style-type: none;
	list-style-image : url(../img/check.png);		
}

/************************************/
/*			listes numérotées		*/
/************************************/
.mceContentBody ol,
.mceContentBody ol.arabic,
.content ol.arabic {
	list-style-type: decimal;
	list-style-image : none;	
	font-size: 12px;
	line-height: 15px;
}

.mceContentBody ol.lowerroman,
.content ol.lowerroman {
	list-style-type: lower-roman;
	list-style-image : none;	
}

.mceContentBody ol.upperroman,
.content ol.upperroman {
	list-style-type: upper-roman;
	list-style-image : none;	
}

.mceContentBody ol.loweralpha,
.content ol.loweralpha {
	list-style-type: lower-alpha;
	list-style-image : none;	
}

.mceContentBody ol.upperalpha,
.content ol.upperalpha {
	list-style-type: upper-alpha;
	list-style-image : none;	
}

/************************************/
/*		Styles de tableaux			*/
/************************************/
.mceContentBody table,
.content table {
	border-collapse: collapse;
}

.mceContentBody table tr th,
.mceContentBody table tr td,
.content table tr th,
.content table tr td {
	padding:5px;
	font-size: 12px;
	line-height: 15px;
}

.mceContentBody table tr th p,
.mceContentBody table tr td p,
.content table tr th p,
.content table tr td p {
	margin: 0px;
}

.mceContentBody table.simple,
.mceContentBody table.simple tr th,
.mceContentBody table.simple tr td,
.content table.simple,
.content table.simple tr th,
.content table.simple tr td {
	border: 1px solid black;	
}

.content table.invisible,
.content table.invisible tr th,
.content table.invisible tr td {
	border: 0px none transparent;	
}

.mceContentBody table.data,
.content table.data {
	border: 1px solid #006FA1;	
}

.mceContentBody table.data tr.odd,
.content table.data tr.odd {
	background-color: #F2F2F2;
}

.mceContentBody table.data tr th,
.content table.data tr th {
	background-color: #006BB1;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}

.mceContentBody table.datalight,
.content table.datalight {
	border: 1px solid #006FA1;	
}

.mceContentBody table.datalight tr,
.content table.datalight tr {
	border: 1px solid #006FA1;	
}

.mceContentBody table.datalight tr th,
.content table.datalight tr th {
	color: #006FA1;
	font-weight: bold;
	text-align: center;
}

.mceContentBody table.datastrong,
.content table.datastrong {
	border: 1px solid #006BB1;	
}

.mceContentBody table.datastrong tr th,
.content table.datastrong tr th {
	background-color: #006BB1;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
}

.mceContentBody table.datastrong tr td,
.content table.datastrong tr td {
	border: 1px solid #006BB1;	
}

.mceContentBody table.datastrong tr,
.content table.datastrong tr.odd {
	background-color: #F2F2F2;
}

.content table.datastrong tr.even {
	background-color: #FFFFFF;	
}

.mceContentBody table caption,
.content table caption {
	color : #808080;
	font-size : 0.9em;
	padding-bottom: 5px;
}

/************************************/
/*			Styles d'images			*/
/************************************/
.content img {
}

.mceContentBody img.simple,
.content img.simple {
	border: 1px solid #2A2A2A;
	margin: 10px;
	padding: 0px;	
}

.mceContentBody img.invisible,
.content img.invisible {
	border-style: none;
	margin: 10px;
	padding: 0px;
}

.mceContentBody img.frame,
.content img.frame {
	border: 1px solid #2A2A2A;
	background-color: #ffffff;
	margin: 10px;
	padding: 3px;
}

.mceContentBody img.largeframe,
.content img.largeframe {
	border: 1px solid #2A2A2A;	
	background-color: #ffffff;
	margin: 10px;
	padding: 8px;	
}

.mceContentBody img.floatleft,
.content .floatleft {
	float: left;
	margin: 0px;
	margin-right: 10px;	
}

.mceContentBody img.floatright,
.content .floatright {
	float: right;
	margin: 0px;
	margin-left: 10px;	
}



/************************************************/
/*			Styles pour la zone focus			*/
/************************************************/
#focus div#ametys-cms-zone-focus div {
	width:150px;
	margin:0;
	padding: 20px 7px 5px 20px;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	background: transparent;
}

#focus h2 {
	font-family: Arial, sans-serif;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	background: #00A0C6;
	margin: 0; padding-right: 10px;
	text-align: right;
	background-image: url("../img/focus_default.gif");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left top;
}

#focus ul {
	list-style: none;
	padding: 0; margin: 0;

}

#focus ul li  {
	border-bottom: 2px solid white;
}

#focus ul li a  {
	background: #f7f7fe url("../img/bullet_purple.png") no-repeat left center;
	text-align: left;
	display: block;
	padding-left: 20px;
}

#focus ul li a:hover, #focus ul li a:focus, #focus ul li a:active   { background: #fefefe url("../img/bullet_orange.png") no-repeat left center }

#focus div.liens h2 {
		background-image: url("../img/focus_liens.gif");
}
#focus div.note h2 {
		background-image: url("../img/focus_note.gif");
}
#focus div.doc h2 {
		background-image: url("../img/focus_doc.gif");
}
#focus div.image h2 {
		background-image: url("../img/focus_image.gif");
}
#focus div.image {
	background: #f7f7fe;
	text-align: center;
}


/************************************************/
/*		Styles pour la zone de gauche			*/
/************************************************/
#annexe_cg div#ametys-cms-zone-zone-left-page div {
	width:150px;
	margin:0;
	padding: 20px 20px 5px 10px;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	background: transparent;
}

#annexe_cg h2.title {
	display:none;
}

/********************************************************************/

.page_title_bkg
{
  background-position: right;
  background-repeat: repeat-y;
}