/* feuille de style commune */

html {
	font-size: 100%; /* pour IE windows , cf http://css.alsacreations.com/Tutoriels-et-articles-divers/gerer-la-taille-du-texte-avec-les-em */
	height: 100%;
}

body  {
	height: 100%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #333;
	background: #00537E url("../img/page_bkg_blue.jpg") repeat-x;  /* valeur du gris en bas du fichier page_bkg.gif */
	margin: 0; padding: 0;
}
p {
	font-size: 1em; /* -> 12px */
	line-height: 1.5em; /* -> 18px */
	margin-top: 0;
	margin-bottom: 1.5em;
}

a {
	color: #005d9d;
	text-decoration: none;
}
a:active {
	text-decoration: none;
	color: red;
}
img {border: 0px;}

/* champ de recherche */
.text_field  {
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #000;
	border-color: #000 #000 #000 #000;
	border-style: solid;
	border-width:1px;
}

/* barre de navigation - rubriques  */
.top_navigation  { 
	font-size: 10px;
	color: #fff;
	text-align: center;
}
a.top_navigation  {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
a.top_navigation:hover {
	color: #000000;
	text-decoration: none;
}

/* style de la rubrique courante dans la barre de navigation */
.top_navigation_on  { 
	font-size: 10px;
	color: #000000;
	FONT-WEIGHT: normal;
	text-align: center;
}
a.top_navigation_on  {
	color: #000000;
	text-decoration: none;
}