body 
{
color: #333;
background: #7CAED1 url("../img/page_bkg.gif") repeat-x;  /* valeur du bleu en bas du fichier bkg_top.gif */
margin-left: 0px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
}
/*pied de page (langues...)*/
.bottom {
FONT-WEIGHT: normal; 
FONT-SIZE: 10px; 
COLOR: #999; 
FONT-FAMILY: Arial, sans-serif; 
text-align: center;
}
a.bottom 
{
COLOR: #666; 
TEXT-DECORATION: none
}
a.bottom:hover 
{
COLOR: #666; 
TEXT-DECORATION: none
}

.homepage_bkg_top_logo
{
  background-position: bottom;
  background-repeat: no-repeat;
}

.homepage_bkg_bottom
{
  background-position: bottom;
}

.text_field 
{
font-family: Arial, sans-serif;
font-size: 10px;
color: #000;
background-color: #fff;
border-color: #000 #000 #000 #000;
border-style: solid;
border-width:1px;
}

.top_navigation 
{
font-family: Verdana, sans-serif;
font-size: 10px;
color: #C3D3E0;
FONT-WEIGHT: normal;
text-align: center;
}
a.top_navigation 
{
color: #000;
FONT-WEIGHT: normal;
text-decoration: none;
}
a.top_navigation:hover
{
color: #255192;
FONT-WEIGHT: normal;
text-decoration: none;
}

.top_navigation_on 
{
font-family: Verdana, sans-serif;
font-size: 10px;
color: #007DBD;
FONT-WEIGHT: normal;
text-align: center;
}
a.top_navigation_on 
{
color: #007DBD;
FONT-WEIGHT: normal;
text-decoration: none;
}

.text_black 
{
font-family: Verdana, sans-serif;
font-size: 10px;
color: #000;
FONT-WEIGHT: normal;
}

.ebox_01_item 
{
font-family: Verdana, sans-serif;
font-size: 10px;
color: #007DBD;
FONT-WEIGHT: normal;
padding-top: 3px;
}
a.ebox_01_item 
{
color: #007DBD;
text-decoration: none;
}
a.ebox_01_item:hover
{
color: #1BBCF0;
text-decoration: none;
}

.ebox_04_item 
{
font-family: Verdana, sans-serif;
font-size: 10px;
color: #BE3827;
FONT-WEIGHT: normal;
padding-left: 30px;
}

.ebox_04_item_links 
{
font-family: Verdana, sans-serif;
font-size: 10px;
color: #FE5A17;
FONT-WEIGHT: normal;
}
a.ebox_04_item_links 
{
color: #fff;
text-decoration: none;
}
a.ebox_04_item_links:hover
{
color: #FF9900;
text-decoration: none;
}

.ebox_05_item 
{
font-family: Verdana, sans-serif;
font-size: 10px;
color: #fff;
FONT-WEIGHT: normal;
padding-left: 30px;
}

.ebox_05_item_links 
{
font-family: Verdana, sans-serif;
font-size: 10px;
color: #2E1C86;
FONT-WEIGHT: normal;
}
a.ebox_05_item_links 
{
color: #2E1C86;
text-decoration: none;
}
a.ebox_05_item_links:hover
{
color: #fff;
text-decoration: none;
}

.ebox_06_item 
{
font-family: Verdana, sans-serif;
font-size: 10px;
color: #fff;
FONT-WEIGHT: normal;
padding-left: 30px;
}

.ebox_06_item_links 
{
font-family: Verdana, sans-serif;
font-size: 10px;
color: #2E1C86;
FONT-WEIGHT: normal;
}
a.ebox_06_item_links 
{
color: #12550A;
text-decoration: none;
}
a.ebox_06_item_links:hover
{
color: #fff;
text-decoration: none;
}

.page_navigation 
{
font-family: Verdana, sans-serif;
font-size: 10px;
color: #255192;
FONT-WEIGHT: normal;
padding-top: 3px;
padding-left: 15px;
}

.page_navigation_links 
{
font-family: Verdana, sans-serif;
font-size: 10px;
color: #255192;
FONT-WEIGHT: normal;
}
a.page_navigation_links 
{
color: #255192;
text-decoration: none;
}
a.page_navigation_links:hover
{
color: #1BBCF0;
text-decoration: none;
}

a.print
{
font-family: Verdana,sans-serif;
font-size: 10px;
color: #007DBD;
font-weight: bold;
text-decoration: none;
}
a.print:hover
{
color: #255192;
text-decoration: none;
}

.page_title_bkg
{
  background-position: right;
  background-repeat: repeat-y;
}

.path 
{
FONT-WEIGHT: normal; 
FONT-SIZE: 10px; 
COLOR: #333;
FONT-FAMILY: Arial, sans-serif;
}
a.path 
{
COLOR: #339;
TEXT-DECORATION: none
}
a.path:hover 
{
COLOR: #1BBCF0; 
TEXT-DECORATION: none;
}

.path_on 
{
FONT-WEIGHT: normal;
FONT-SIZE: 10px;
COLOR: #007DBD; 
FONT-FAMILY: Arial, sans-serif;
text-align:right;
padding-right: 10px;
}

H1 
{
FONT-WEIGHT: bold; 
FONT-SIZE: 17px; 
COLOR: #255192; 
FONT-FAMILY: Verdana, sans-serif;
padding-left: 10px;
padding-top: 5px;
margin: 0px;
}

H2 
{
FONT-WEIGHT: bold; 
FONT-SIZE: 14px; 
COLOR: #007DBD; 
FONT-FAMILY: Verdana, sans-serif;
margin: 0px;
padding-left: 9px;
}

H3 
{
FONT-WEIGHT: normal; 
FONT-SIZE: 12px; 
COLOR: #255192; 
FONT-FAMILY: Verdana, sans-serif;
padding-left: 29px;
margin: 0px;
}

.text 
{
font-family: Verdana, sans-serif;
font-size: 10px;
color: #666;
FONT-WEIGHT: normal;
padding: 15px;
/**line-height: 15px;*/
}

.text_links 
{
FONT-WEIGHT: normal; 
FONT-SIZE: 10px; 
COLOR: #999; 
FONT-FAMILY: Verdana, sans-serif;
}

a.text_links 
{
COLOR: #007DBD; 
TEXT-DECORATION: none
}
a.text_links:hover 
{
background-COLOR: #1BBCF0;
COLOR: #fff;
TEXT-DECORATION: none;
}

.photo 
{
border-color: #007DBD; 
border-style: solid; border-width:1px;
padding-left: 15px;
}

ul 
{
padding-left: 26px;
margin: 0px;
list-style: circle;
FONT-WEIGHT: normal; 
FONT-SIZE: 10px; 
COLOR: #666; 
FONT-FAMILY: Verdana, sans-serif;
}

.table
{
border-color:#eeeeee #eeeeee #eeeeee #eeeeee;
border-style: solid;
border-width:1px;
}

.table td
{
margin: 1px;
border-color:#eeeeee #eeeeee #eeeeee #eeeeee;
border-style: solid;
border-width:1px;
FONT-WEIGHT: normal; 
FONT-SIZE: 10px; 
COLOR: #999; 
FONT-FAMILY: Verdana, sans-serif;
}


#focus  div {
	width:150;
	margin:0;
	padding: 10px 20px 10px 10px;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	background: transparent;
}

#focus h2 {
	font-family: Arial, sans-serif;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	background: #00A0C6;
	margin: 0; padding-right: 10px;
	text-align: right;
	background-image: url("../img/focus_default.gif");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left top;
}

#focus ul {
	list-style: none;
	padding: 0; margin: 0;

}

#focus ul li  {
	border-bottom: 2px solid white;
}

#focus ul li a  {
	background: #f7f7fe url("../img/bullet_purple.png") no-repeat left center;
	text-align: left;
	display: block;
	padding-left: 20px;
}

#focus ul li a:hover, #focus ul li a:focus, #focus ul li a:active   { background: #fefefe url("../img/bullet_orange.png") no-repeat left center }

#focus div.liens h2 {
		background-image: url("../img/focus_liens.gif");
}
#focus div.note h2 {
		background-image: url("../img/focus_note.gif");
}
#focus div.doc h2 {
		background-image: url("../img/focus_doc.gif");
}
#focus div.image h2 {
		background-image: url("../img/focus_image.gif");
}
#focus div.image {
	background: #f7f7fe;
	text-align: center;
}



.top 
{
FONT-WEIGHT: normal; 
FONT-SIZE: 10px; 
COLOR: #007DBD; 
FONT-FAMILY: Verdana, sans-serif;
}
a.top
{
COLOR: #007DBD; 
TEXT-DECORATION: none
}
a.top:hover 
{
COLOR: #1BBCF0;
TEXT-DECORATION: none;
}
